.book{
  background: url("../assets/images/bookbg.png") center/cover no-repeat;
  padding: 67px 420px 172px;
  &__title{
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    font-size: 70px;
    text-align: center;
    color: #FFFFFF;



  }
  &__icon{
    color: #FFFFFF;
  }
  &__address{
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-decoration-line: underline;
    color: #FFFFFF;
  }
  &__map{
    text-align: center;
  }
}
